*{
    margin: 0 ; 
    padding: 0 ;
    box-sizing: border-box;
}

body{
    background-color: #ccc;
}

.container{
    max-width: 900 px;
    margin: 0 30%;
}

.apply_box{
background:linear-gradient(106deg , rgb(84, 83, 83,.7) 0%,rgb(168, 166, 166,.7));
max-width: 600px;
padding: 20px;
background-color: white;
margin: a 30%;
margin-top: 50px;
box-shadow: 4px 3px 5px rgb(1, 1, 1, 0.1);
border-radius: 10px;
}

.title_small{
    font-size: 20px;
}

.form_contriner{margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(200px , 1fr ));
    gap: 20px; 
}

.form_control{
    display: flex ;
    flex-direction: column;
}

label{
    font-size: 15px;
    margin-bottom: 5px;
}

input , select ,textarea {
    padding : 4px 10px;
    border: 1px solid grey;
    border-radius: 4px;
    font-size: 15px;
}

input:focus {
    outline-color: purple ;
}

.button_container{
    display: flex;
    justify-content: 20px;
    margin-top: 20px;
}

button{
    background-color: rgb(255, 123, 0);
    border: transparent solid 2px;
    padding: 5px 15px;
    color: white;
    border-radius: 12px;
    transition: .3 ease-in;
}

button:hover{
background-color: #ccc;
border: 2px solid red;
color: black;
transition: 0.3s ease-out;
cursor: pointer;
}

.textarea_control{
    grid-column: 1/span 2;
}

.textarea_control textarea{
    width: 100%;
}


@media (max-width: 460px){
    .textarea_control{
        grid-column: 1/span 1;
}
};